.App {
  text-align: center;
  background-color: #87a9ee;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 2em;
}
p {
  color: rgb(229, 240, 198);
  font-family: fantasy;
  font-weight: 900;
  border-top: 2px dotted;
  border-bottom: 2px dotted;
  border-top-color: rgb(14, 221, 197);
}
button {
  background-color: rgb(196 230 144);
  height: 3em;
  width: 6em;
  border-radius: 10px;
  border: 0;
  box-shadow: 1px 4px 9px rgb(248 232 91);
  font-weight: 900;
  color: rgb(173, 20, 110);
  padding: 3px;
  cursor: pointer;
  font-family: monospace;
}

button:active {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2) inset;
  top: 3px;
  position: relative;
  background-color: snow;
}

form {
  color: rgb(2, 58, 2);
  font-size: 1rem;
  font-family: fantasy;
  font-weight: 800;
}
video {
  width: 300px;
  height: 200px;
}
@media (max-width: 600px) {
  h1 {
    font-size: 1.5em;
  }
  form {
    color: #f3d680;
    font-size: 1em;
    display: flex;
    flex-direction: column;
  }
  p {
    font-size: 0.8em;
  }
  button {
    width: 5em;
    height: 3em;
    border-radius: 5px;
    margin: 1.5em;
  }
}
